/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{
	margin:0px;
}

img{
	max-width:100%;
}

a, a:hover, a:active{
	outline:0px !important;
}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}
h2{
	font-size:34px;
	color:#222222;
	font-weight:600;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
h3{
	font-size:24px;
	color:#222222;
	font-weight:600;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
h4 {
	text-align: center;
	font-size: 22px;
}
p{
	line-height:24px;
	margin:0;
	font-size: 17px;
}
p span {
	color: black;
	font-weight: 500;
}

ul {
	padding-left: 0;
}

h2#h2_1 {
	text-transform: none;
	font-size: 38px;
	font-weight: 300;
}
/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:url(../img/header.jpg) left bottom no-repeat;
	background-size: 100%;
	height: 850px;
	padding:280px 0;
}
.logo{
	width:130px;
	margin:0 auto 35px;
}
.header h1{
	font-size:50px;
	font-weight:300;
	color: #a4a4a4;
	width: 400px;
	padding: 15px 20px;
	background-color: #FFFFFF;
	letter-spacing: -1px;
	margin:60px auto 22px;
}


.link{
	padding:15px 35px;
	background:#45759b;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color:#45759b !important;
	background:#fff;
}

.link:active, .link:focus {
	background: #45759b;
	text-decoration:none;
	color:#fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#fff;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#222222;
	text-transform:uppercase;
	font-weight: 600;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: #45759b;
}

.small-logo{ 
	padding:0 32px;
}

.main-section{
	padding:65px 0 0px;
}

div ul#li-event {
	text-align: center;
}

div ul#li-event li,
div ul#li-event li#mobile,
div ul#li-event li#desktop {
	display: block;
	list-style: none;
	text-align: center;
	margin: auto 50px;
	font-weight: 500;
	font-size: 16px;
}
div ul#li-event li#mobile{
	display: none;
}
div ul#li-event li span {
	display: block;
	font-size: 18px;
	font-weight: 500;
}

div ul#li-event li:nth-child(3) {
	margin: 20px;
	font-size: 14px;
}

div.etoile p {
	text-align: center;
	margin-top: 15px;
}

/* Portfolio
---------------------------------*/

section#portfolio {
	background-color: #ffffff;
}

section#portfolio h2 {
	margin-bottom: 40px;
}

.Portfolio-box{
	text-align:center;
	margin: 0 2px 5px;
	height:350px;
	width:260px;
	overflow:hidden;
	float:left;
	padding:0;
}

.box-img-1{
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size: 101%;
}

.box-img-2{
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
	background-size: 103%;
	background-position: -3px 0px;
}

.box-img-3{
	background-image: url(../img/3.jpg);
	background-repeat: no-repeat;
	background-size: 190%;
	background-position: -170px -20px;
}

.box-img-4{
	background-image: url(../img/4.jpg);
	background-repeat: no-repeat;
	background-size: 122%;
	background-position: -30px;
}

.box-img-5{
	background-image: url(../img/5.jpg);
	background-repeat: no-repeat;
	background-size: 101%;
	background-position: -2px 0px;
}

.box-img-6{
	background-image: url(../img/6.jpg);
	background-repeat: no-repeat;
	background-size: 125%;
	background-position: -5px -70px;
}

.box-img-7{
	background-image: url(../img/7.jpg);
	background-repeat: no-repeat;
	background-size: 105%;
	background-position: 0;
}

.box-img-8{
	background-image: url(../img/8.jpg);
	background-repeat: no-repeat;
	background-size: 180%;
	background-position: 0;
}

.box-img-9{
	background-image: url(../img/9.jpg);
	background-repeat: no-repeat;
	background-size: 197%;
	background-position: -250px -30px;
}

.box-img-10{
	background-image: url(../img/10.jpg);
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: -2px -40px;
}

.box-img-11{
	background-image: url(../img/11.jpg);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	background-position: 0 -10px;
}

.box-img-12{
	background-image: url(../img/12.jpg);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	background-position: -10px;
}

.box-img-13{
	background-image: url(../img/13.jpg);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	background-position: -10px;
}

.box-img-14{
	background-image: url(../img/14.jpg);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	background-position: -10px;
}

.box-img-15{
	background-image: url(../img/15.jpg);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	background-position: -10px;
}

.box-img-16{
	background-image: url(../img/16.jpg);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	background-position: -10px;
}

/*.Portfolio-box img{
	margin-bottom:25px;
	transition:all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
	opacity: 0.6;
}*/

.Portfolio-nav li a.current{
	background:#45759b;
	color:#fff;
	text-decoration:none;
}

img {
   max-width:100%;
}

/* Contact
---------------------------------*/
.main-section.contact{
	padding:65px 0 100px;
}

.main-section.contact{
	background:url(../img/bg-map.png) left 190px no-repeat;
}
.main-section.contact div.row {
	margin-top: 60px;
}

.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}
.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #45759b;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:200px;
	height:50px;
	background:#45759b;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
	border:0px;
	transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background: #15759b;
	color: #fff;
}

/* Footer
---------------------------------*/

.footer{
	background:url(../img/mountains.jpg) left top no-repeat;
	background-size: 100%;
	padding:35px 0 35px;
}
.footer-logo{
	margin:15px auto 35px;
	width: 76px;
}
.copyright{
	color:#cccccc;
	font-size:14px;
	display:block;
	text-align:center;
}
.copyright a{
	color:#cccccc;
	font-weight:600;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover {
	color: #fff;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #45759b !important;
}

.portfolioContainer{
	max-width: 1140px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 992px) {
	/****Ipad Landscape 1024 Container 970 ****/
	.form{ margin:0 0 0 20px}
	.main-nav{ display:block !important; }
	
}	
   
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/****Ipad Portrait 768 Container 750 ****/
	body{ font-size:13px;}
	p{ line-height:20px ;}
	.header h1{ font-size:46px;}
	.main-nav ul li a{ padding:14px;}
	.small-logo{ padding:0 20px;}
	h2{ font-size:30px}
	h6{ font-size:16px;}
	h3{ font-size:15px;}
	.main-section{ padding:70px 0;}
	.form{ margin:0;}
	.contact-info-box{ margin:0 ;}
	
	.main-nav{ display:block !important; }
	.main-nav li a{ padding:8px 15px;}
	 
	
}

@media only screen and (max-width: 767px) {
	/****Mobile Landscape 480 Container 100% ****/
	body{ font-size:12px;}
	h2{ font-size:26px;}
	h3{ font-size:14px;}
	h6{ font-size:16px; margin-bottom:40px;}
	p{ line-height:18px;}
	.header h1{ font-size:28px;}
	.header{ padding:60px 0;background-size: 400%; height: 650px;}
	.main-section{ padding:60px 0 70px;}
	.main-nav{ display:none; position:absolute; left:0; width:100%; top:74px; margin:0 auto; flote : none; background:#fff;}
	.main-nav li{ display:block;}
	.main-nav li.small-logo{ display:none;}
	.main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
	.main-nav li a:hover{color:#45759b}
	.res-nav_click{ display:block;}
	.contact-info-box{ margin:0 0 12px 30px; font-size:12px;}
	.contact-info-box span{ line-height:18px;}
	.form{ margin:0 30px;}
	.copyright{ font-size:12px;}
	.main-section.contact{ padding:60px 0 70px}
	.link{ font-size:14px; padding:10px 25px;}
	.main-section.contact{ background-size:contain;}
	.Portfolio-nav li a{ padding:5px 16px;}
	.Portfolio-nav li{ display:block;}
	.header h1{
	font-size:50px;
	font-weight:400;
	color: #a4a4a4;
	width: 200px;
	padding: 15px 20px;
	background-color: #FFFFFF;
	letter-spacing: -1px;
	margin:60px auto 22px;
}
.input-btn{width: 100%; margin-bottom: 30px;}
}

@media only screen and (max-width: 479px) {
	/****Mobile Portrait 320 ****/
	div ul#li-event li:nth-child(2){margin: 20px 0 0}
	.main-nav-outer{display: none;}
	.contact-info-box{ margin-left:0px;}
	.header{ padding:40px;}
	.form{ margin:0}
	.Portfolio-box{  max-width:404px !important; width: 100% !important; margin:0 auto 8px;}
	.Portfolio-box img { max-width:100%;}
	.portfolioContainer{ width:280px !important; margin:0 auto !important } 
	.main-section{padding: 30px 0;}
	.main-section.contact{padding:30px 0 60px;}
	.main-section.contact div.row {margin-top: 30px;}
	div ul#li-event li#desktop{display: none;}
	div ul#li-event li#mobile{display: block;}
}